
.whole{
  background-color: blue;
  overflow: hidden;
}

.grid{
  width: 100%;
  background-color: aqua;
  color:black;}
img{
width: 25%;
float: right;
border: 1px solid aqua;
box-sizing: border-box;}
