


.left{
background-color: aqua;
width: 50%;
overflow: hidden;
float: left;
box-sizing: border-box;
}
.right{
background-color: black;
color: #fff;
 width: 50%;
float: right;
overflow: hidden;
box-sizing: border-box;
}
