@keyframes hovering{
  from {
        background-color: grey;
        }
  25%, 75% {
        background-color: aqua;
        transform: rotate(360deg);
        }
  to {
        background-color: grey;
      }
                }


body{
  background-image: url(sunrise.jpg);
  background-size: cover;

}
p{
  background-color: aqua;
  text-align: center;
  padding:20px;
}
.ani{
  background-color: grey;
  text-align: center;
  font-size: 30px;
  padding: 20px;

}
.ani:hover{
    animation: hovering 5s ease-in 6;
}
